* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 400px;
  padding: 30px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.singer-name {
  color: #ffffff;
  margin: 0;
}
.designation {
  color: #ffffff;
  margin-top: 10px;
}
.bottom-section-container {
  background-color: #152850;
  min-height: 300px;
  background-size: cover;
  padding: 20px;
}
.songs-playlist {
  margin: 0;
  color: #ffffff;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  border: 1px solid #cbd5e1;
  width: 250px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 6px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.search-icon {
  color: #ffffff;
  margin: 5px;
}
.track-list-container {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-text {
  color: #ffffff;
  font-family: 'Roboto';
}
